<div class="content">
  <h1 class="primary-h1">Network communication</h1>
  <h2 class="primary-h2">Networking devices</h2>
  <img src="../../../assets/ICS/communication/devices.png" alt="img" class="content__img content__img--w350">

  <h2 class="primary-h2">Message delivery modes</h2>
  <ul>
    <li>unicast</li>
    <li>multicast</li>
    <li>
      broadcast
      <ul>
        <li>limited</li>
        <li>direct</li>
      </ul>
    </li>
  </ul>

  <h2 class="primary-h2">Broadcast domain</h2>
  <p>A broadcast domain is a collection of computers in which, when one sender sends a message, the message is delivered to all others in the same domain.</p>
  <p><strong>routers separate them</strong></p>

  <h2 class="primary-h2">Collision domain</h2>
  <p>A collision domain is a collection of computers in which, if more than one sender tries to send some data simultaneously, the signal will collide in the transmission media and make all the sent information unusable.</p>
  <p><strong>switch separate them (or hub)</strong></p>

  <h2 class="primary-h2">NIC - Network Interface Card</h2>
  <p>NIC can operate in half duplex or full duplex modes</p>
  <p>can do: </p>
  <ul>
    <li>Carrier Sense</li>
    <li>Converting the binary data into encoded signals and vice versa</li>
    <li>Media Access Control</li>
  </ul>
  <p>layer - <strong>Data Link Layer</strong></p>

  <h2 class="primary-h2">Repeater</h2>
  <p>Regenerates the signals to proper amplitudes and sends them to the next segment</p>
  <p>layer - <strong>Data Link Layer</strong></p>

  <h2 class="primary-h2">Bridge</h2>
  <p>connect two or more separate LAN segments</p>
  <p>layer - <strong>Data Link Layer</strong></p>

  <h2 class="primary-h2">Router</h2>
  <p>interconnect two or more LANs</p>
  <p>layer - <strong>Network layer</strong></p>

  <h2 class="primary-h2">Data communication model</h2>
  <img src="../../../assets/ICS/communication/data-communication-model.png" alt="img" class="content__img">
</div>