<div class="content">
  <h1 class="primary-h1">Networking intro</h1>

  <h2 class="primary-h2">Data Communication Networks Need</h2>
  <ul>
    <li>Devices</li>
    <li>Medium</li>
    <li>Messages</li>
    <li>Rules</li>
  </ul>

  <h2 class="primary-h2">Reliable Networks</h2>
  <h3>Four Basic Characteristics of Network Architecture</h3>
  <ul>
    <li>Fault tolerance</li>
    <li>Scalability</li>
    <li>Quality Of Service (QOS)</li>
    <li>Security</li>
  </ul>

  <h2 class="primary-h2">Connecting Devices in a Network</h2>
  <ul>
    <li>point to point - dedicated link between the two devices</li>
    <li>mulipoint - more than 2 in a single line </li>
  </ul>

  <h2 class="primary-h2">LAN</h2>
  <h3>standards</h3>
  <ul>
    <li>Ethernet</li>
    <li>Fast ethernet </li>
    <li>Gigabit Ethernet </li>
    <li>Wireless LAN</li>
    <li>Token ring</li>
    <li>Token bus</li>
  </ul>

  <h2 class="primary-h2">WAN</h2>
  <h3>standards</h3>
  <ul>
    <li>Dial up connections</li>
    <li>Leased lines </li>
    <li>Frame relay</li>
    <li>ISDN</li>
    <li>ADSL</li>
    <li>VPN</li>
    <li>SD-WAN - software defined wan</li>
  </ul>

  <h2 class="primary-h2">Intranet</h2>
  <p>A private network maintained by a company or particular organization.</p>
  <p>it is restricted to the general public</p>

  <h2 class="primary-h2">Extranet</h2>
  <p>A set of interconnected Intranets is known as an extranet.</p>
</div>