<div class="content">
  <h1 class="primary-h1">Computer Generations</h1>
  
  <section class="primary-section">
    <h2 class="primary-h2">1st - 1944-55</h2>
    <ul>
      <li>vaccum tubes (termion valves) </li>
      <li>slow</li>
      <li>power hungry</li>
      <li>big and heavy</li>
      <li>costly</li>
      <li><strong>hard wired</strong> : Hardwire is a function or device that is physically built into the computer instead of programmed into the software.</li>
      <li><strong>ex: </strong>ENIAC, UNIVAC, EDSAC</li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">2nd - 1955-64</h2>
    <ul>
      <li>transistors </li>
      <li>batch processing</li>
      <li>fast and smaller</li>
      <li>less power hungry</li>
      <li>assembly language and introduction to high level language (fortran, cobol)</li>
      <li>magnetic core memory</li>
      <li>punch cards and tapes</li>
      <li><strong>ex: </strong>IMB 1401,IMB 1401</li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">3rd - 1964-71</h2>
    <ul>
      <li>OS</li>
      <li>high level languages</li>
      <li>magnetic disk</li>
      <li>mini computers</li>
      <li>multi programming</li>
      <li><strong>ex: </strong>IBM System/360,IBM System/370</li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">4th - 1971-present</h2>
    <ul>
      <li>personal computers</li>
      <li>gui</li>
      <li>unix</li>
      <li>networking</li>
      <li>parallel programming - threads</li>
      <li>Fourth generation languages (4GLs) </li>
      <li><strong>ex: </strong></li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">5th</h2>
    <ul>
      <li>voice recognition</li>
      <li>parallel processing</li>
      <li>natural languages</li>
      <li>artificial intelligence</li>
      <li>quantum computers</li>
    </ul>
  </section>
</div>