<div class="content">
  <h1 class="primary-h1">C Structures</h1>
  <section class="primary-section">
    <h2 class="primary-h2">Initialization</h2>
    <img src="../../../assets/IP/struct/struct-1.PNG" alt="struct img" class="content__img struct-img">
    <h3>or </h3>
    <img src="../../../assets/IP/struct/struct-2.PNG" alt="struct img" class="content__img struct-img">
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">Usage</h2>
    <img src="../../../assets/IP/struct/struct-3.PNG" alt="struct img" class="content__img struct-img">
  </section>

</div>