<div class="content">
  <h1 class="primary-h1">Design a Network</h1> 

  <h2 class="primary-h2">Device Selection</h2>
  <strong>Facts</strong>
  <ul>
    <li>cost</li>
    <li>ports</li>
    <li>speed</li>
    <li>expandable</li>
    <li>manageable</li>
  </ul>

  <h2 class="primary-h2">IP addressing</h2>
  <p>part of the design</p>
  <ul>
    <li>End devices for users</li>
    <li>Servers and peripherals</li>
    <li>Hosts that are accessible from the Internet</li>
    <li>Intermediary devices</li>
  </ul>

  <h3 class="primary-h3">Planned IP schemes help the administrator:</h3>
  <ul>
    <li>Track devices and troubleshoot</li>
    <li>Control access to resources</li>
  </ul>

  <h2 class="primary-h2">Redundancy</h2>
  <p>Redundancy helps to eliminate single points of failure.</p>

  <h2 class="primary-h2">Design consideration</h2>
  <ul>
    <li>Secure file and mail servers in a centralized location.</li>
    <li>Protect the location by physical and logical security measures.</li>
    <li>Create redundancy in the server farm</li>
  </ul>

  <h2 class="primary-h2">Common Applications</h2>
  <h3>Network-Aware Applications</h3>
  <ul>
    <li>Software programs that are used to communicate over the network.</li>
    <li>software programs that have been designed to intelligently adapt their behavior based on the current network conditions</li>
 </ul>

  <h3>Application Layer Services</h3>
  <ul>
    <li>Programs that interface with the network and prepare the data for transfer.</li>
    <li>It facilitates communication between different software applications</li>
  </ul>

  <h2 class="primary-h2">Protocols</h2>
  <h3>Network Protocols Define:</h3>
  <ul>
    <li>Processes on either end of a communication session.</li>
    <li>Syntax of the messages</li>
    <li>How messages are sent and the expected response.</li>
  </ul>
  
  <h3 class="primary-h3">Common protocols</h3>
  <ul>
    <li>IP</li>
    <li>TCP</li>
    <li>UDP</li>
    <li>HTTP - 80</li>
    <li>HTTPS - 443</li>
    <li>SMTP - 25</li>
    <li>FTP - 21</li>
    <li>DNS - 53</li>
    <li>DHCP - 67 and 68</li>
  </ul>

  <h2 class="primary-h2">Real-Time Applications</h2>
  <h3>dedicated services to ensure priority delivery of voice and video traffic</h3>
  <ul>
    <li>Infrastructure - Needs to be evaluated to ensure it will support proposed real time applications</li>
    <li>VoIP</li>
    <li>IP telephony - uses VoIP</li>
    <li>Real-time Video Protocols - uses Real-Time Transport Protocol (RTP) and Real-Time Transport Control Protocol (RTCP).</li>
  </ul>

  <h2 class="primary-h2">Scaling </h2>
  <h3>Important considerations when growing to a larger network:</h3>
  <ul>
    <li>Documentation</li>
    <li>Device inventory - list of devices that use or comprise the network</li>
    <li>Budget</li>
    <li>Traffic Analysis</li>
  </ul>

  <h2 class="primary-h2">Types of Security Vulnerabilities</h2>
  <ul>
    <li>Technological</li>
    <li>Configuration</li>
    <li>Security policy</li>
  </ul>

  <h2 class="primary-h2">Malware</h2>
  <h3>Virus</h3>
  <p>Malicious software that is attached to another program to execute a particular unwanted function on a workstation</p>
  <h3>Trojan horse</h3>
  <p>n entire application written to look like something else, when in fact it is an attack tool</p>
  <h3>Worms</h3>
  <p>Worms are self-contained programs that attack a system and try to exploit a specific vulnerability in the target.</p>
  <p>The worm copies its program from the attacking host to the newly exploited system to begin the cycle again.</p>

  <h2 class="primary-h2">Network Attacks</h2>
  <h3>Categories of network attacks</h3>
  <ul>
    <li>Reconnaissance Attacks</li>
    <li>Access Attacks</li>
    <li>Social Engineering - Attempts to manipulate individuals into performing actions or divulging confidential information.</li>
    <li>Denial of Service Attacks (DoS)</li>
  </ul>

  <h2 class="primary-h2">Mitigating Network Attacks</h2>
  <h3>1.Backup, Upgrade, Update, and Patch</h3>
  <h3>2.Authentication, Authorization, and Accounting (AAA)</h3>
  <ul>
    <li>authentication - Users and administrators must prove their identity</li>
    <li>Authorization - Determines which resources the user can access and what operations</li>
    <li>Accounting - Records what the user accessed, the amount of time the resource is accessed, and any changes made</li>
  </ul>
  <h3>3.Firewalls</h3>
  <ul>
    <li>resides between two or more networks</li>
    <li>controls traffic and helps prevent unauthorized access.</li>
    <li>methods used: </li>
    <ul>
      <li>Packet Filtering</li>
      <li>Application Filtering</li>
      <li>URL Filtering</li>
      <li>Stateful Packet Inspection (SPI)</li>
    </ul>
  </ul>

</div>