<div class="content">
  <h1 class="primary-h1">Formal Letters</h1>
  <h2 class="primary-h2">1. Sender's Name, Address</h2>
  <h2 class="primary-h2">2. Date</h2>

  <h2 class="primary-h2">3. Receiver's Address</h2>
  <ul>
    <li>Name</li>
    <li>Business title</li>
    <li>Company Name</li>
    <li>Address</li>
    <li>country</li>
    <li>postal code</li>
  </ul>

  <h2 class="primary-h2">4. Salutation</h2>
  <ul>
    <li>Dear Mr</li>
    <li>Dear Ms</li>
    <li>Dear Sir</li>
    <li>Dear Madam</li>
    <li>Dear Madam/Sir</li>
  </ul>
  
  <h2 class="primary-h2">5. Subject line</h2>
  <h2 class="primary-h2">6. Message</h2>

  <h2 class="primary-h2">7. Complementary Close + Signature + Name</h2>
  <ul>
    <li>‘Dear Sir’ or ‘Dear Madam’  --> Yours faithfully</li>
    <li>If the name is directly addressed (‘Dear Mr Brown’ )  --> Yours Sincerely</li>
  </ul>

</div>