<div class="content">
  <h1 class="primary-h1">Formal Language</h1>
  <section class="primary-section">
    <h2 class="primary-h2">NO contractions, abbreviations</h2>
    <h3>Contraction</h3>
    <p>a short form of a word or combination of words</p>
    <ul>
      <li>it's</li>
      <li>you're</li>
    </ul>
    <h3>Abbreviation</h3> 
    <p>a shortened form esp . of a word or phrase</p>
    <ul>
      <li>ASAP</li>
      <li>IMO</li>
    </ul>
  </section>  

  <section class="primary-section">
    <h2 class="primary-h2">NO text language, emoticons</h2>
    <p>emojis and Emoticon</p>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">NO Slang</h2>
    <h3>slang</h3>
    <p>very informal language that is used esp. in speech by particular groups of people and which sometimes includes words that are not polite</p>
    <ul>
      <li>drip</li>
      <li>dope</li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">NO phrasal verbs</h2>
    <h3>Phrasal verb</h3> 
    <p> a phrase that consists of a verb with a preposition or adverb or both, the meaning of which is different from the meaning of its separate parts</p>
    <ul>
      <li>carry on </li>
      <li>pass out</li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">NO idioms</h2>
    <h3>Idioms</h3>
    <p>a group of words in a fixed order that have a particular meaning</p>
    <ul>
      <li>kick the bucket</li>
      <li>a piece of cake</li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">NO subjective expressions</h2>
    <p><strong>Subjective:</strong> I love the rain! --> X</p>
    <p><strong>Objective:</strong> It is raining</p>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">NO informal quantifiers</h2>
    <p><strong>formal: </strong>Many people were invited to the wedding.</p> 
    <p><strong>informal: </strong>A lot of people arrived late. --> X</p>
  </section>

</div>