<div class="content">
  <h1 class="primary-h1">Non Discriminatory</h1>

  <h2 class="primary-h2">usage</h2>

  <ul>
    <li>
      <h3 class="">when writing a female name</h3>
      <p>Use ‘Ms’ in preference to ‘Miss/Mrs’ unless this is preferred by the individual </p>
    </li>
    <li>
      <h3 class="">use plural form</h3>
      <ul>
        <li>
          <p>a writer -> writers</p>
        </li>
        <li>
          <p>his -> their</p>
        </li>
      </ul>
    </li>

    <li>
      <h3>Rewriting the affected noun</h3>
      <p>A student must present <span class="underline">his</span> ... --> X</p>
      <p>A student must present <span class="underline">student's</span> ... --> ✔</p>
    </li>
    <li>
      <h3>Replacing the offending pronoun with the definite article 'the'</h3>
      <p>The lecturer will display <span class="underline">his</span> timetable on <span class="underline">his</span> door --> X</p>
      <p>The lecturer will display <span class="underline">the</span> timetable on <span class="underline">the</span> door. --> ✔</p>
    </li>
    <li>
      <h3>Eliminating the offending pronouns (Only if the original noun is plural)</h3>
      <p>An executive should read <span class="underline">his</span> e-mails sent from clients daily. --> X</p>
      <p>An executive should read e-mails sent from clients daily.</p>
    </li>
    <li>
      <h3>Replacing the offending pronoun with the generic pronoun, 'one'.</h3>
      <p>A staff member in Argentina earns less than <span class="underline">he</span> would in New York. --> X</p>
      <p>A staff member in Argentina earns less than <span class="underline">one</span> would in New York.</p>
    </li>
    <li>
      <h3>Rewriting using the relative pronoun 'who'</h3>
      <p>A grocery store offers discounts to a customer when <span class="underline">he</span> buys more than ... --> X</p>
      <p>A grocery store offers discounts to a customer <span class="underline">who</span> buys more than ... </p>
    </li>

    <li>
      <h3>Rewording the sections where the offending pronouns are used</h3>
      <p>The assumption of many e-mail users is that if a writer corrects <span class="underline">his</span> grammar and proofreads <span class="underline">his document</span>, <span class="underline">he</span> is wasting time. --> X</p>
      <p>The assumption of many e-mail users is that correcting grammar and proofreading a document, is a wastage of time. --> ✔</p>
    </li>
  </ul>

  <h2 class="primary-h2">stereotypical nouns</h2>
  <h3 class="primary-h3">Occupational titles</h3>
  <ul>
    <li>Headmistress /headmaster -> principal</li>
    <li>Chairman -> chairperson / chair</li>
    <li>Policeman -> police officer</li>
    <li>Businessman -> business person</li>
    <li>Fireman -> firefighter</li>
    <li>Steward /stewardess -> flight attendant</li>
    <li>Craftsman -> artisan</li>
    <li>Salesman /saleswoman -> sales clerk, salesperson</li>
  </ul>
  <h3 class="primary-h3">Inherently sexist word</h3>
  <ul>
    <li>Mankind -> humanity, humankind, people, humans</li>
    <li>Man-made -> synthetic, artificial</li>
    <li>The common man -> the common / average person, ordinary people</li>
  </ul>

  <h3 class="primary-h3">Physical and or intellectual inability</h3>
  <ul>
    <li>Blind musician -> a musician with a vision impairment</li>
    <li>A disabled person -> a person with special needs / differently abled person</li>
    <li>Deaf -> with hearing impairments</li>
  </ul>
</div>