<div class="content">
  <h1 class="primary-h1">Functions</h1>

  <img src="../../../assets/MC/functions/function.PNG" alt="function" class="content__img content__img--w350">

  <section class="primary-section">
    <h2 class="primary-h2">Range / Image</h2>
    <img src="../../../assets/MC/functions/function-range.PNG" alt="function range" class="content__img--w350 content__img">
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">One to one (injective) functions</h2>
    <div class="primary-grey-box">
      <img src="../../../assets/MC/functions/One-to-One-Function.png" alt="one to one function" class="content__img">
      <p>i. One to one</p>
      <p>ii. Not one to one</p>
    </div>
    <div class="primary-grey-box">
      <p><strong>codomain >= range</strong></p>
    </div>
    <ul>
      <li>
        <p>Every element in <strong>codomain should have only one correspoding y</strong> value.</p>
      </li>
      <li>
        <p>f(x) = y</p>
      </li>
    </ul>

    <div class="primary-grey-box">
      <p><strong>Example: </strong></p>
      <p>1) prove that f(x)=5x+2 is one to one</p>
      <br>
      <p>x<sub>1</sub>, x<sub>2</sub> ∈ X</p>
      <p>assume, </p>
      <div class="p-center">
        <p>f(x<sub>1</sub>) = f(x<sub>2</sub>)</p>
        <p>5x<sub>1</sub> + 2 = 5x<sub>2</sub> + 2</p>
        <p>5x<sub>1</sub> = 5x<sub>2</sub> </p>
        <p>x<sub>1</sub> = x<sub>2</sub> </p>
      </div>
      <p>∴ f(x) is one to one fuction</p>

    </div>
  </section>

  <section class="primary-section">
   <h2 class="primary-h2">Onto (Surjective) function</h2>
   <img src="../../../assets/MC/functions/Onto-Function.png" alt="onto function" class="content__img">
   <p><strong>codomain == range</strong></p>
   <ul>
    <li>codomain can't have more elements that is not in range</li>
    <li>every y there is an x such that f(x) = y.</li>
   </ul>
   
   <div class="primary-grey-box">
    <p><strong>Example: </strong></p>
    <p>y = f(x) </p>  
    <p>y = 5x + 2 </p> 
    <p>x = (y - 2)/ 5  </p>
    <br>
    <p>now we try different values for y.</p>
    <br>
    <p>y=0, x=(-2)/5</p>  
    <p>y=1, x=(-1)/5</p>  
    <br>
    <p>∴ f:ℝ -> ℝ</p>  
    <p>∴ function is surjective</p>
    <p>- because for every x there is a corresponding y value </p>
   </div>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">bijection (One-to-one Correspondence)</h2>
    <p>a function f: x -> y that is both one to one and onto.</p>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">Inverse function</h2>
    <p>If f is one-to-one and onto (bijection) then f-1 exists.</p>
  </section> 

  <section class="primary-section">
    <h2 class="primary-h2">Pigeonhole Principle</h2>
    <h3>Definition</h3>
    <p>A function from one finite set to a smaller finite set cannot be one-to-one. There must be at least two elements in the domain that have the same image in the co-domain.</p>
    <img src="../../../assets/MC/functions/pigeonhole-principle-diagram.png" alt="pigeonhole" class="content__img">
  </section>
</div>