<div class="content">
  <h1 class="primary-h1">Network Addressing</h1>

  <h2 class="primary-h2">Port address</h2>
  <p>Used to identify the source and destination processes for communication</p>

  <h2 class="primary-h2">MAC address(Physical address)</h2>
  <ul>
    <li>Universally unique address</li>
    <li>48 bit long</li>
    <li>first 3 bytes - OUI (Organizationally Unique Identifier)</li>
    <li>last 3 bytes - NIC (Network Interface Controller)</li>
  </ul>

  <h2 class="primary-h2">IP address(Logical address)</h2>
  <p>IPv4 --> 32bit</p>
  <p>IPv6 --> 128bit</p>

  <h3 class="primary-h3">Find IP Classes</h3>
  <img src="../../../assets/ICS/addressing/classes.png" alt="img" class="content__img">
  <img src="../../../assets/ICS/addressing/classes_info.png" alt="img" class="content__img">

  <h3 class="primary-h3">Find net IP</h3>
  <p>IP AND subnet mask</p>
  <img src="../../../assets/ICS/addressing/find_net_IP.png" alt="img" class="content__img">

  <h2 class="primary-h2">Direct Broadcast Address</h2>
  <p>The direct broadcast address is used by router to send a message to every host on a local network</p>

  <h2 class="primary-h2">Private IP address</h2>
  <img src="../../../assets/ICS/addressing/private_ip.png" alt="img" class="content__img">

  <div class="primary-grey-box">
    <p>Who has the authority to reserve IP addresses to each ISP?</p>
    <strong>ICANN</strong>
  </div>
</div>