<div class="content">
  <h1 class="primary-h1">Parts of speech</h1>
  <img src="../../../assets/CS/parts-of-speech/PARTS-OF-SPEECH.jpg" alt="parts of speech img" class="content__img">

  <section class="primary-section">
    <h2 class="primary-h2">determiners</h2>
    <p>A determiner is a word that modifies, describes, or introduces a noun</p>
    <h3>types</h3>
    <ul>
      <li>Articles (such as ‘a’, ‘an’, and ‘the’)</li>
      <li>Possessive Determiners (such as ‘my’, ‘your’, ‘his’, ‘her’, ‘its’, ‘our’ and ‘their’)</li>
      <li>Demonstrative Determiners (such as ‘this’, ‘that’, ‘those’ and ‘these’)</li>
      <li>Quantifiers (such as ‘some’, ‘a few’, ‘many’, ‘a little’, ‘little’, ‘few’, ‘none’, etc)</li>
      <li>Distributive Determiners (such as ‘every’, ‘each’, ‘either’, ‘neither’, ‘both’, ‘all’, ‘half’, etc.)</li>
    </ul>
  </section>

</div>