<div class="content">
  <h1 class="primary-h1">Memo Writing</h1>

  <h2 class="primary-h2">When to use memo</h2>
  <ul>
    <li>To issue instructions</li>
    <li>To inform the employees about policy changes.</li>
    <li>To give suggestions</li>
    <li>To request support or information to confirm a decision made on telephone etc.</li>
  </ul>

  <h2 class="primary-h2">Types</h2>
  <ul>
    <li><i>Request memo</i></li>
    <li><i>Confirmation memo</i> - written to confirm a certain agreemen</li>
    <li><i>Suggestive memo</i> - written in requesting views from employees about a certain issue</li>
    <li><i>Report memo</i> -  written to give an account of the progress using values and charts.</li>
    <li><i>Informal results memo</i> - written to give the results of a certain action.</li>
  </ul>

  <h2 class="primary-h2">Parts of memo</h2>
  <h3>Heading</h3>
  <ul>
    <li>To</li>
    <li>From</li>
    <li>Date</li>
    <li>Subject</li>
  </ul>

  <h3>Opening</h3>
  <p>the purpose, the context, and the specific assignment or task, mentioned in brief; approximately in the length of a short paragraph.</p>

  <h3>Body</h3>
  <p>The paragraph/s providing the relevant information clearly under headings.</p>

  <h3>Conclusion</h3>
  <p>courteously stating the action you want the reader to take</p>

  <div class="primary-grey-box">
    <p><strong>Example: </strong></p>
    <img src="../../../assets/CS/memo/memo-example.png" alt="memo example" class="memo-img">
  </div>
</div>