<div class="content">
  <h1 class="primary-h1">Email Writing</h1>

  <h2 class="primary-h2">Structure of a Formal Email</h2>
  <h3>Subject line</h3>
  <p>subject of the email</p>
  
  <h3>Salutation</h3>
  <p>how you greet the reader.</p>
  
  <h3>body</h3>
  <p>main message of the email.</p>
  <p>It should also include an introduction and conclusion. It should be written in short paragraphs of one to two sentences.</p>
  <p>Where it will add clarity, use bulleted or numbered lists</p>
  
  <h3>Signature</h3>
  <p>good email signature template helps your reader find all the information about you that they need.</p>


  <h2 class="primary-h2">Format</h2>
  <ol>
    <li>Subject </li>
    <li>Greeting </li>
    <li>Opening lines and body</li>
    <li>
      Closing
      <ul>
        <li>Sincerely, Respectfully, Best regards, Thank you for your [time, assistance, etc.],</li>
      </ul>
    </li>
    <li>
      Signature
      <ul>
        <li>Reagan Smythe <br>
          ABC Deliveries  <br>
          123-456-7890 <br>
          abcdeliveries.com
        </li>
      </ul>
    </li>
  </ol>

  <div class="primary-grey-box">
    <p><strong>Example: </strong></p>
    <p>Subject: High-Quality Martial Arts Equipment</p>
    <br>
    <p>Greetings Mrs. Marshall,</p>
    <br>
    <p>My name is William Gordon, and I am a sales associate at Action Martial Arts. We are the northeast’s leading provider of martial arts mats and training equipment.</p>
    <br>
    <p>We are preparing to roll out a new line of martial arts gis that are light enough to train in summer, yet durable enough to handle intense training. We are interested in working with local gyms to create branded gear for students to wear, and I’d love to talk with you about getting a trial gi sent to you, along with some samples of our pads and grappling clothes.</p>
    <br> 
    <p>Please let me know if you’d like any more information.</p>
    <br>
    <p>Thank you,</p> 
    <p>William Gordon</p>
    <p>555-123-4567</p>
  </div>

  <h2 class="primary-h2">Netiquette</h2>
  <p>describes the rules of conduct for respectful and appropriate communication on the internet. </p>
</div>