<div class="content">
  <h1 class="primary-h1">Tenses</h1>
  <section class="primary-section">
    <h2 class="primary-h2">Simple Present Tense</h2>
    <ul>
      <li>
        <strong>Repeated actions</strong>
        <p>Do you visit your uncle every Sunday?</p>
      </li>
      <li>
        <strong>Habitual actions</strong>
        <p>He often speaks in French</p>
      </li>
      <li>
        <strong>Facts that are believed to be true</strong>
        <p>New York is a small city</p>
      </li>
      <li>
        <strong>General truths</strong>
        <p>Sun sets from Westh</p>
      </li>
      <li>
        <strong>Scheduled events in near future</strong>
        <p>The plane takes off at 10 o'clock tonight</p>
      </li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">Present Progressive/Continuous Tense</h2>
    <div class="primary-grey-box">
      <p><strong>am/is/are + -ing</strong></p>
    </div>
    <ul>
      <li>
        <strong>Actions that are happening now</strong>
        <p>You are learning English now</p>
      </li>
      <li>
        <strong>Actions which are in progress but not right now</strong>
        <p>I am reading the book Tom Sawyer these days</p>
      </li>
      <li>
        <strong>Actions that will or will not happen in near future.</strong>
        <p>Are you meeting some friends after work?</p>
      </li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">Present Perfect Tense</h2>
    <div class="primary-grey-box">
      <p><strong>has/have + past participle</strong></p>
    </div>
    <ul>
      <li>
        <strong>Experiences</strong>
        <p>I have watched that movie.</p>
        <p>I have been to France</p>
      </li>
      <li>
        <strong>Changes over time</strong>
        <p>1. My English has really improved</p>
        <p>2. The government has become more interested in physical education</p>
      </li>
      <li>
        <strong>Accomplishments</strong>
        <p>I have bought a gift for my friend</p>
      </li>
      <li>
        <strong>Incomplete actions at present (*Negative form)</strong>
        <p>The rain hasn’t stopped.</p>
      </li>
      <li>
        <strong>Multiple actions at different times in past</strong>
        <p> I have had four quizzes and five tests so far this semester</p>
      </li>
      <li>
        <strong>Actions that have just ended or already done</strong>
        <p>He has just/already completed his assignment</p>
      </li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">Present Perfect Continuous Tense</h2>
    <div class="primary-grey-box">
      <p><strong>has/have been + -ing</strong></p>
    </div>
    <ul>
      <li>
        <p><strong>Actions which started in the past and continue till present.</strong> Time duration is a must.</p>
        <p>1. They have been talking for the last two hours</p>
        <p>2. He has been teaching at the university since June</p>
      </li>
      <li>
        <strong>Actions which started in the past and have been happening lately.</strong>
        <p>She has been working a lot recently.</p>
      </li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">Simple Past Tense</h2>
    <ul>
      <li>
        <strong>Completed actions in the past</strong>
        <p>The dog chased the rabbit</p>
      </li>
      <li>
        <strong>A series of completed actions</strong>
        <p>I went to work, had breakfast, and started working.</p>
      </li>
      <li>
        <strong>Habits in the past</strong>
        <p>Chamal went to the library every Sunday when he was young</p>
      </li>
    </ul>
    <h4>Negative</h4>
    <ul>
      <li>
        he did not do that
      </li>
    </ul>
    <h4>Interrogative</h4>
    <ul>
      <li>Did he do that ? </li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">Past Continuous/ Progressive tense</h2>
    <div class="primary-grey-box">
      <p><strong>was/were + -ing</strong></p>
    </div>
    <ul>
      <li>
        <strong>Expresses actions in progress in the past</strong>
        <p>He was reading a book when his dog jumped into his lap</p>
      </li>
      <li>
        <strong>Temporary actions in the past</strong>
        <p>I was working in the bank for two weeks</p>
      </li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">Past Perfect Tense</h2>
    <div class="primary-grey-box">
      <p><strong>had + past participle</strong></p>
    </div>
    <ul>
      <li>
        <strong>Expresses a past action that happened before some other past action</strong>
        <p>The meeting had already started by the time I arrived</p>
      </li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">Past Perfect Continuous/Progressive Tense</h2>
    <div class="primary-grey-box">
      <p><strong>had been + -ing</strong></p>
    </div>
    <ul>
      <li>
        <strong>an action that started in the past, continued in the past, and also ended at a certain point in the past</strong>
        <p>She had been driving around the city before she finally found the correct office.</p>
      </li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">Simple Future Tense</h2>
    <div class="primary-grey-box">
      <p><strong>will + verb</strong></p>
    </div>
    <ul>
      <li>
        <strong>What we expect to happen in the future.</strong>
        <p>It will take 50 years for the temperature to return to normal</p>
      </li>
      <li>
        <strong>Spontaneous decisions</strong>
        <p>Come on, I will help you to sort out the files</p>
      </li>
      <li>
        <strong>A promise, warning or threat</strong>
        <p>I will do it tomorrow</p>
      </li>
    </ul>
    <h3>going to ...</h3>
    <div class="primary-grey-box">
      <p><strong>am/is/are + going to + verb</strong></p>
    </div>
    <ul>
      <li>The sky is getting darker. I think it is going to rain.</li>
      <li>I am going to drive to work today</li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">Future Progressive Tense</h2>
    <div class="primary-grey-box">
      <p><strong>will + be + -ing</strong></p>
    </div>
    <ul>
      <li>
        <strong>An action which will be in progress, which is certain to happen</strong>
        <p>Next Monday you will be working in your new job</p>
      </li>
      <li>
        <strong>When politely asking for information related to future</strong>
        <p>Will you be bringing your friend to the class tomorrow?</p>
      </li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">Future Perfect Tense</h2>
    <div class="primary-grey-box">
      <p><strong>will have + past participle</strong></p>
    </div>
    <ul>
      <li>
        <strong>A completed action in future. Often used with the time expression, by or by the time</strong>
        <p>By the time we get home, the match will have begun</p>
      </li>
      <li>
        <strong>project ourselves forward in time and to look back.</strong>
        <p>Oh no, we want to go on a bike ride in an hour. Don’t worry, he will have repaired the bike by then.</p>
      </li>
    </ul>
  </section>

  <section class="primary-section">
    <h2 class="primary-h2">Future Perfect Progressive Tense</h2>
    <div class="primary-grey-box">
      <p><strong>will have been + -ing</strong></p>
    </div>
    <ul>
      <li>
        <strong>An action that will continue up until a point in the future.</strong>
        <p>When I turn thirty, I will have been playing piano for twenty-one years</p>
      </li>
      <li>
        <strong>The activity is currently unfinished and is expected to continue in the future.</strong>
        <p>I will have been waiting here for three hours by six o'clock</p>
      </li>
    </ul>
  </section>
</div>