<div class="content">
  <h1 class="primary-h1">Graph Theory</h1>
  <h2 class="primary-h2">Vertices and Edges</h2>
  <img src="../../../assets/MC/graph-theory/vertex-edges.svg" alt="img" class="content__img graph-img">

  <div class="primary-grey-box">
    <h3 class="">Vertices</h3>
    <p> V(G) = {{'{'}}a, b, c, d{{'}'}}</p>
    <h3 class="primary-h3">Edges</h3>
    <p>E(G) = {{'{{a,b},{a,c}, {b,c},{a,d}}'}}</p>
  </div>

  <h2 class="primary-h2">End point</h2>
  <img src="../../../assets/MC/graph-theory/end-point.svg" alt="img" class="content-img graph-img">

  <h2 class="primary-h2">Incident</h2>
  <p>vertex 'a' and the edge {{'{a, b}'}} are said to be incident since the vertex is an end point of the edge</p>

  <h2 class="primary-h2">Adjacent/Neighbors</h2>
  <p>two vertices are adjacent if they are joined by an edge</p>

  <h2 class="primary-h2">Multiple edges/ Parallel edges</h2>
  <img src="../../../assets/MC/graph-theory/Multiple_edges.png" alt="img" class="">

  <h2 class="primary-h2">Loops</h2>
  <img src="../../../assets/MC/graph-theory/loop.png" alt="img" class="">

  <h2 class="primary-h2">Simple graphs</h2>
  <p>graph with niether loops or multiple edges</p>
  <img src="../../../assets/MC/graph-theory/types-graphs.webp" alt="img" class="content__img">

  <h2 class="primary-h2">Degree</h2>
  <p>The degree of a vertex deg(v) is the number of edges incident with it.</p>
  <p><strong>A loop will contribute 2 towards the degree.</strong></p>
  <p><strong>Isolated vertex: </strong>not connected to any other edges</p>

  <h2 class="primary-h2">Handshaking Lemma </h2>
  <div class="primary-grey-box">
    <p>sum of degrees = 2 * no. of edges</p>
  </div>

  <h2 class="primary-h2">Paths</h2>
  <img src="../../../assets/MC/graph-theory/Path.webp" alt="img" class="content__img">
  <p><strong>if graph is simple graph just use vertices.</strong> - v1 -> v2 -> v3</p>
  <h3 class="primary-h3">length of path</h3>
  <div class="primary-grey-box">length = no. of edges</div>

  <h2 class="primary-h2">Cycle</h2>
  <p>A cycle is a sequence of distinct vertices and edges that begins and ends at the same vertex.</p>
  <img src="../../../assets/MC/graph-theory/cycle.png" alt="img" class="content__img">
  
  <h2 class="primary-h2">Components</h2> 
  <p>The separate parts of a disconnected graph</p>

  <h2 class="primary-h2">Digraphs</h2>
  <img src="../../../assets/MC/graph-theory/digraphs.png" alt="img" class="content__img content__img--w350">
  <div class="primary-grey-box">
    <p><strong>Outdegree </strong>- the number of arcs directed out of the vertex. <strong>Outdeg(vertex)</strong></p>
    <p><strong>Indegree </strong>- the number of arcs directed in of the vertex. <strong>Indeg(vertex)</strong></p>
  </div>

  
</div>